<h1>ログの一覧</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:Type) %></th>
      <th><%= t(:Log) %></th>
      <th><%= t(:Resolve) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.type %></td>
        <td><%= truncate(log.log, :length=>300) %></td>
        <td><%= log.resolve %></td>
        <td><%= link_to t(:Show), log %></td>
        <td><%= link_to t(:Edit), edit_log_path(log) %></td>
        <td><%= link_to t(:Destroy), log, method: :delete, data: { confirm: 'ほんとうに削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:NewLog), new_log_path %>
