<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:Type) %></strong>
  <%= @log.type %>
</p>

<p>
  <strong><%= t(:Log) %></strong>
  <%= @log.log %>
</p>
<p>
    <strong><%= t(:Url) %></strong>
    <%= @log.url %>
</p>
<p>
  <strong><%= t(:Resolve) %></strong>
  <%= @log.resolve %>
</p>

<%= link_to t(:Edit), edit_log_path(@log) %> |
<%= link_to t(:Back), logs_path %>
